h1.ce-header {
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0;
    font-size: 42px;
    color: #222;
}

h2.ce-header {
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0;
    font-size: 28px;
    color: #333;
}

.ce-paragraph {
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 200;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0;
    font-size: 21px;
    color: #666;
}

#editorjs {
    margin-top: 25px;
}