@tailwind base;
@tailwind components;
@tailwind utilities;


// color variants
@import 'themes-vars.module.scss';
@import 'loader.module.scss';

// third-party
@import '~react-perfect-scrollbar/dist/css/styles.css';
// @import '~slick-carousel/slick/slick.css';
// @import '~slick-carousel/slick/slick-theme.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$primary-font:  'Montserrat';
$background-color: '#fafafa';

html, body {
    max-width: 100%;
    overflow: hidden;
    overscroll-behavior-y: none;
    background-color: $background-color;
    margin: 0px;
}

@media (min-width: 1280px) {
    .container {
        max-width: 100% !important;
    }
}


// Studio AI Chat bubble waiting for response animation
.typing {
    align-items: center;
    display: flex;
    height: 17px;
  }
  .typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: #ffffff ; //rgba(20,105,69,.7);
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
  }
  .typing .dot:nth-child(1) {
    animation-delay: 200ms;
  }
  .typing .dot:nth-child(2) {
    animation-delay: 300ms;
  }
  .typing .dot:nth-child(3) {
    animation-delay: 400ms;
  }
  .typing .dot:last-child {
    margin-right: 0;
  }
  
  @keyframes mercuryTypingAnimation {
    0% {
      transform: translateY(0px);
      background-color:#ffffff; // rgba(20,105,69,.7);
    }
    28% {
      transform: translateY(-7px);
      background-color:#d3ebff; //rgba(20,105,69,.4);
    }
    44% {
      transform: translateY(0px);
      background-color: #93bcff; //rgba(20,105,69,.2);
    }
  }

// ----------------------- END -----------------------------
.MuiSnackbar-root{
    z-index: 1299;
}

.upgrade { 
    margin-left: 10px;
    cursor: pointer;
}

.MuiDialog-paper {
    border-radius: 6px;
}

.MuiDialogTitle-root {
    color: #0a0a0a;
    font-weight: bolder;
    font-size: 24px;
}

.MuiDialogContentText-root {
    color: #2a2a2a;
    font-size: 16px;
}

// Studio AI

.studio-ai-my-bubble {
    padding: 16px;
    margin: 8px 8px 8px 0px;
    border-radius: 24px 24px 24px 0px;
    background: #E6E7EC; 
    color: #555;
    font-weight: bold;
    font-size: 12px,
}

.studio-ai-bubble {
    padding: 16px;
    margin: 8px 0px 8px 8px;
    border-radius: 24px 24px 0px 24px;
    background: #0085FF;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
 
// ----------------------- END -----------------------------

.primary-color {
    background-color: #7572F9 !important;
    border: 1px solid #6e6ceb;
    color: white;
}

.primary-color:hover {
    background-color: #4240d3 !important;
}

.selected-font {
    font-family: sans-serif;
}

.blurred {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
.overlay {
    color: white !important;
    font-weight: bold;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
     -ms-animation: fadein 0.5s; /* Internet Explorer */
      -o-animation: fadein 0.5s; /* Opera < 12.1 */
         animation: fadein 0.5s;
}
// img,
// .overlay {
//   transition: .3s all;
//   border-radius: 3px;
// }

// .template {
//   float: left;
//   max-width: 31%;
//   position: relative;
//   margin: .5%;
//   img {
//     width: 100%;
//     margin-bottom: -4px;
//   }
//   .overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     background: $bg;
//     color: #fff;
//     opacity: 0;
//   }
//   &:hover {
//     .overlay {
//       opacity: 1;
//     }
//     img {
//       -webkit-filter: blur(2px);
//       filter: blur(2px);
//     }
//   }
// }



.MuiDrawer-modal {
    inset: unset !important;
}

* {
    font-family: $primary-font;
  }

.template__selected {
    background:rgba(0,0,0,0.075);
}

.template__unselected {
    // background:blue;
}

.footer {
    // position: fixed;
    // width: 100%;
    // bottom: 0;
}

.opacitated {
    opacity: 0.75;
    transition-duration: 0.5s;
    &:hover {
        opacity: 1;
    }
}

.container {
    background-color: transparent;
}

// ==============================|| LIGHT BOX ||============================== //
.slick-arrow:before {
    color: $grey500;
}

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
    z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
    margin-right: 8px;
}

.title-text {
    font-weight: bolder;
    color: #444;
    font-size: 20px;
}

.super-title-text {
    font-weight: bold;
    color: #333;
    font-size: 28px;
}

.MuiFab-root {
    background: black;
    color: white;
}

.online-signal {
    background: #07AD14;
    border-radius: 50%;
    height: 10px;
    width:10px;
    margin: 0px 8px;
}

.offline-signal {
    background: #d83c3c;
    border-radius: 50%;
    height: 10px;
    width:10px;
    margin: 0px 8px;
}

.MuiFab-root:hover {
    background: white;
    color: black;
}

.fab {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    background: red;
};

.bg-container { 
    background: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    max-width: 100%;
}

.signin {
    .container {
        padding: 45vh 0vw;
        text-align: center;
        height: 100vh;
    }
    .progress {
        width: 220px;
        margin: 10px auto;
    }
}

.fade-in { animation: fadeIn 2s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.primary-tab {
    border-top: 5px solid $primaryMain;
}

.secondary-tab {
    border-top: 5px solid $secondaryMain;
}

.tab-title {
    color: black;
    font-weight: bold;
    font-size: 16px;    
    border-bottom: 1px solid #eaeaea;
    padding: 15px;
}

.tab-content {
    height: 50vh;
    padding: 20px;
    // padding: 50px 80px;
    overflow-y: scroll;
}

.project-container {
    padding: 10px;
    height: 65vh;
    overflow-y: auto;
}

.project-card {
    position: relative;
    cursor: pointer;
    height: 207px;
    border: 1px solid #eee !important;

    .icon {
        position: absolute;
        left: 15px; 
        top: 15px;
        overflow: hidden;
    }
}

.curved {
    border-radius: 4px;
}

.project-overlay {
    width: 102%;
    height: 102%;
    background: rgba(255,255,255,0.85);
    position: absolute;
    top: -1%;
    left: -1%;
    z-index: 1;
    text-align: center;
    line-height: 207px;
}

.project-delete {
    position: absolute;
    top: 12px;
    right: 15px;
}



















// .signin-logo {
//     height: 150px;
//     width: auto;
//     margin: 0 auto;
// }

// .signin-loading-container {
//     display: inline-flex;
//     margin-left: 20px;
// }



.signin-container {
    // background: #9314FC;
    // background: linear-gradient(45deg, #9314FC, #d931ff);
    // background-color: #A613F0;
    // background-image: linear-gradient(30deg, #8001e7 0%, #d42ee0 100%);
    
    // background: rgb(72,15,126);
    // background: linear-gradient(30deg, rgba(72,15,126,1) 0%, rgba(148,18,251,1) 48%, rgba(187,16,226,1) 55%, rgba(198,81,224,1) 100%);
// background-size: 100% 100%;
    // height: 100vh;
    // width: 100vw;
    // vertical-align:middle;
    // position: absolute;
    // padding-top: 35vh;
    // -webkit-animation: AnimationName 8s ease infinite;
    // -moz-animation: AnimationName 8s ease infinite;
    // animation: AnimationName 8s ease infinite;
}

.glass-container {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
// ==============================|| PERFECT SCROLLBAR ||============================== //

.scrollbar-container {
    .ps__rail-y {
        &:hover > .ps__thumb-y,
        &:focus > .ps__thumb-y,
        &.ps--clicking .ps__thumb-y {
            background-color: $grey500;
            width: 5px;
        }
    }
    .ps__thumb-y {
        background-color: $grey500;
        border-radius: 6px;
        width: 5px;
        right: 0;
    }
}

.scrollbar-container.ps,
.scrollbar-container > .ps {
    &.ps--active-y > .ps__rail-y {
        width: 5px;
        background-color: transparent !important;
        z-index: 999;
        &:hover,
        &.ps--clicking {
            width: 5px;
            background-color: transparent;
        }
    }
    &.ps--scrolling-y > .ps__rail-y,
    &.ps--scrolling-x > .ps__rail-x {
        opacity: 0.4;
        background-color: transparent;
    }
}

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0%,
    20%,
    53%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }
    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -5px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -7px, 0);
    }
    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }
    90% {
        transform: translate3d(0, -2px, 0);
    }
}

@keyframes slideY {
    0%,
    50%,
    100% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(10px);
    }
}

@media only screen and (max-width: 900px) {
    #mobile-frame {
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    #editor-container{
        min-height: 700px;
    }
}

@keyframes slideX {
    0%,
    50%,
    100% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
}

#frame-style {
    // zoom: 0.75;
    // -moz-transform: scale(0.75);
    // -moz-transform-origin: 0 0;
    // -o-transform: scale(0.75);
    // -o-transform-origin: 0 0;
    // -webkit-transform: scale(0.75);
    // -webkit-transform-origin: 0 0;
}

.btn-option {
    font-size: 2em !important;
}

#revue-embed {
    display: none;
}

.zooming {
    transition: all .2s ease-in-out;
}

.zooming:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.new-category {
    font-size: 8em;
}

.new-project-container {
    height: 100vh;
    position: relative;
    padding-bottom: 10%;
}

.new-project-input {
    font-size: 5em;
    font-family: $primary-font;
    font-weight: 100;
}

.new-project-input ::-webkit-input-placeholder {
    font-size: 1em;
    font-family: $primary-font;
    font-weight: 100;
    color: white;
}

#steps .MuiSvgIcon-root {
    font-size: 1.2em;
}

.feature-highlight {
    position: relative;
}

// .feature-highlight-content:hover {
//     filter: blur(0.5rem);
//     cursor: pointer;
// }

.voting-overlay {
    background: rgba(255,255,255,0.95);
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index:2;
    cursor: pointer;
    opacity: 0;
}

.join__discord object {
    font-size: 36px !important;
    margin-top: -15px;
}

.voting-overlay:hover {
    opacity: 1;
}

.voting-overlay img {
    width: 33%;
    padding-top: 50%;
}


.use-case {
    font-family: $primary-font;
    min-height: 220px;
}

.use-case img {
    width: 100%;
    height: 250px;
}

.use-case-description {
    font-family: $primary-font;
    min-height: 120px;
    font-size: 1.25em;
    font-weight: 100;
}

.MuiOutlinedInput-root {
    font-family: $primary-font;
    width: 100% !important;
    border-radius: 2px;
}

.landing-title {
    font-family: $primary-font;
    font-size: 2.5em;
    font-weight: 600;
    color: $darkPaper;
}

.landing-title-white {
    font-family: $primary-font;
    font-size: 2.5em;
    font-weight: 600;
    color: $darkPrimaryLight;
}

.landing-description-white {
    font-size: 2.5em;
    font-weight: 100;
    color: $darkPrimaryLight;
    font-style: italic;
}

.MuiTypography-root {
    font-family: $primary-font;
}

.MuiButton-root {
    font-family: $primary-font;
}

.Mui-selected {
    border-radius: 6px;
}

.main-card {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(144, 202, 249, 0.46);
    padding: 24px;
}

.bordered {
    border: 1px solid #353A53;
}

.main-view-container {
    padding-left: 0px !important;
}

.paper-in {
    // background: #182a36;
}

.paper-blockchain {
    // background: $primaryMain;
    cursor: pointer;
}

.paper-blockchain-selected {
    background: rgba(0, 0, 0, 0.196);
}

.paper-blockchain-selected:hover {
    background: rgba(0, 0, 0, 0.186);
}

.paper-blockchain:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.backend-managed {
    background: url('https://s3.amazonaws.com/webstudio.templates/9.jpg');
    background-size: 100%;
}

.backend-custom {
    background: url('https://s3.amazonaws.com/webstudio.templates/3.jpg');
    background-size: 100%;
}

.landing-description {
    font-size: 1.5em;
    font-weight: 100;
}

.landing-cta {
    padding: 20px 35px;
    background-color: white;
    color: #333;
    font-size: 1.1em;
    font-weight: 600;
}

.landing-cta:hover {
    background-color: rgb(210, 235, 255);
}

.landing-dark {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: - 100px;
    overflow-x: hidden !important;
}

.landing-dark img {
    min-width: 2500px;
}

.banner-background {
    background: rgb(33,150,243);
    background: radial-gradient(circle, rgba(33,150,243,1) 0%, rgba(103,58,183,1) 100%);
    background-size: 200% 200%;
        -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
    height: 1000px;
    width: 100%;
    position: absolute;
    transform: skewY(-8deg);
    top: - 450px;
    z-index: -1;
}

.Input-notchedOutline {
    border-radius: 8px !important;
}

.MuiCard-root {
    border-color: $grey300;
}

.MuiOutlinedInput-notchedOutline {
    border-radius: 8px !important;
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.projects-banner {
    position: absolute;
    height: 500px;
    top: 0px;
    color: $primaryMain;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    height: 100%;
}

.block-picker {
    margin: 0 auto;
}

.project-bg {
    background:#1a73e8;
    width: 100%;
    height: 400px;
    position: absolute;
    top: -50px;
}

.image-bg {
    background-image: url(//www.gstatic.com/mobilesdk/190805_mobilesdk/woman-at-desktop@2x.png),url(//www.gstatic.com/mobilesdk/190805_mobilesdk/man-at-desktop@2x.png);
    background-size: 380px auto,350px auto;
    background-position: left -70px bottom -55px,right -50px bottom -50px;
    transition: opacity .15s cubic-bezier(0.4, 0, 0.2, 1);
    background-repeat: no-repeat;
}

.project-new-container { 
    position: absolute;
    right: 0;
    top: 0;
    background-attachment: scroll;
    background-color: #1a73e8;
    grid-area: sidebar;
    height: 100%;
    pointer-events: none;
    width: 320px;
    z-index: 51;
    background-attachment: scroll;
    background-image: url(https://www.gstatic.com/mobilesdk/180313_mobilesdk/grain@2x.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% 100%;
}

.project-new-image {
    background-image: url(https://www.gstatic.com/mobilesdk/200107_mobilesdk/project_create_illo_welcome@2x.png);
    position: absolute;
    right: 0px;
    top: 100px;
    height: 80vh;
    background-size: contain;
    width: 568px;
    background-repeat: no-repeat;
}

.project-keyword {
    text-decoration: underline;
    margin-left: 10px;
    &:hover {
        color:  #1a73e8;
    }
}

.onboarding__image {
    height: auto;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.nft-image {
    transition: transform .5s; /* Animation */
    cursor: pointer;
  }
  
  .nft-image:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }